/*
    notify.min.css, by chapel; for use with notify.js
    version 1.0.0
 */
#notify {
  font-style: italic;
  text-align: justify;
  position : fixed;
  display : block;
  z-index: -50;
  top : 5vh;
  left : -25vw;
  width : 20vw;
  padding : calc(var(--thickness) * 5);
  background-color : transparent;
  color : transparent;
  transition : all 0.25s ease;
}

#notify.open {
  z-index: 5000;
  left : 0;
  background-color : var(--baseFontColor);
  color : var(--baseColorDark);
}
