
.speech {
  line-height: 120%;
}

.speech fieldset {
  border: 0 solid transparent;
  padding: 0;
}

.speech legend {
  text-transform: uppercase;
  font-style: italic;
  float: left;
  position: relative;
  top: -5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  background-color: var(--baseColor);
}

.speechNPC {
  display: block;
  background-color: var(--baseColor);
  outline: 2vmin solid var(--baseColor);
  border-top: 0 solid transparent;
  border-left: var(--thickness) solid var(--defaultColor);
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  padding: 2.5vmin;
  animation: blink 1s ease infinite normal;
}

.speechPC {
  display: block;
  background-color: var(--baseColor);
  outline: 2vmin solid var(--baseColor);
  border-top: 0 solid transparent;
  border-left: 0 solid transparent;
  border-right: var(--thickness) solid var(--PCColor);
  border-bottom: 0 solid transparent;
  padding: 2.5vmin;
  text-align-last: right;
  animation: blink 1s ease 0.5s infinite normal;
}

@keyframes blink {
   50% { border-color: transparent; }
}
