
*, *::before, *::after {box-sizing: border-box;}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--baseColorDark);
  color: var(--baseFontColor);
  font-family: var(--bodyFont), var(--fallbackFont);
  font-size: 4vmin;
}

a, a:visited {
  color: var(--link);
  background-color: var(--linkBack);
  border: var(--thickness) solid var(--linkBorder);
  border-radius: calc(var(--thickness) * 2);
  padding: calc(var(--thickness) * 2);
}

a:hover {
  text-decoration: none;
  color: var(--linkHover);
  background-color: var(--linkHoverBack);
  border: var(--thickness) solid var(--linkHoverBorder);
  border-radius: 0;
  padding: calc(var(--thickness) * 3);
  transition: 0.1s all ease-out;
}

@keyframes presence {
  50% { box-shadow: 0 0 2vmin var(--linkGlow) }
}

hr { border-color: var(--baseFontColor); }

#story {
  margin: 10vmin;
}

/*Formatting Classes*/
.passage {
	text-align: justify;
  line-height: 200%;
}
.i {font-style: italic;}
.b {font-weight: bold;}
.u {text-decoration: underline;}

.hidden {display: none;}
